:root{
  --yellow-color: #ffd369;
  --white-color: #f6f4e6;
  --grey-color: #52575d;
  --black-color: #41444b;
  --blue-color: #14274e;
  --ice-color: #6699ff;
}

body{
  margin: 0;
  padding: 0;
  background-color: var(--yellow-color);
}

.topnav {
  background-color: var(--black-color);
  overflow: hidden;
  position: relative;
  margin-bottom: 5%;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:last-child{
  float: right;
}

.topnav a:not(:first-child):hover {
  background-color: var(--white-color);
  color: black;
}

.topnav a.active {
  background-color: var(--ice-color);
  color: white;
}

#laptop_list{
  float: left;
  margin: 0 0 0 2%;
  width: 65%;
  background-color: ivory;
  padding: 5% 0 5% 0;
}

.laptop{
  display: inline-block;
  width: 30%;
  margin-left: 2.5%;
  border: 1px solid var(--black-color);
}

#profile{
  background-color: var(--white-color);
  border: 1px solid var(--blue-color);
  border-right: 0;
  border-radius: 15px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  opacity: 0.9;
  float: right;
  width: 30%;
  text-align: center;
}

.avatar{
  width: 40%;
  border-radius: 50%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.info{
  display: block;
  font-family: 'Montserrat', sans-serif;
}

.info:last-child{
  margin-bottom: 5%;
}

hr{
  border: none;
  border-top: 1px solid black;
  width: 60%;
}

.logo {
  width: 40px;
  height: 20px;
  border-radius: 50%;
}

#stoc_list, .wrapper {
  display: inline-block;
  width: 72%;
  margin: 5% 10% 5% 10%;
  padding: 4%;
  background-color: var(--white-color);
}

.filter, #stoc_list > table{
  display: inline-block;
  vertical-align: middle;
}

.filter{
  width: 20%;
  border-right: 2px solid var(--blue-color);
  border-radius: 20%;
}

.filter > br, .wrapper > br {
  display: block;
  content:" ";
  margin-top: 5%;
}

#stoc_list > table > tbody > tr, #stoc_list > table > tbody > tr > td, #stoc_list > table > tbody > tr > th {
  border: 1px dotted var(--black-color);
}

#stoc_list > table > tbody > tr > td, #stoc_list > table > tbody > tr > th{
  padding: 5px;
}

#stoc_list > table {
  border: 1px solid var(--black-color);
  border-collapse: collapse;
  margin-left: 20%;
  font-size: 24px;
}

.title{
  display: block;
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 2%;
}

.wrapper:hover{
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.4);
}

.wrapper > table > tbody > tr, .wrapper > table > tbody > tr > td, .wrapper > table > tbody > tr > th{
  border: 1px solid var(--black-color);
}

.wrapper > table {
  border-collapse: collapse;
  text-align: center;
  font-size: 20px;
}

.wrapper > table > tbody > tr > td {
  padding: 3px;
}